<% content_for :title do %>Wodehouse<% end %>

<div class="gridster">
  <ul>

     <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="Frances" data-view="Stpresence" data-title="Frances" data-device="Frances"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="Alex" data-view="Stpresence" data-title="Alex" data-device="Alex"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Going To Bed" data-countdown="10"></div>
    </li>

    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="daymode" data-view="Stmodechange" data-title="Day Time" data-icon="sun-o" data-changemode="Home" data-phrase="Just Day Time"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="awaymode" data-view="Stmodechange" data-title="Away" data-icon="paper-plane-o" data-changemode="Away" data-phrase="Nobody Home"  data-countdown="90"></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Floorlamp" data-view="Stswitch" data-title="Floor lamps" data-device="Floorlamp"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Studio" data-view="Stswitch" data-title="Studio" data-device="Studio"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Leaf" data-view="Stswitch" data-title="Bedside" data-device="Leaf"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="Duckie" data-view="Stswitch" data-title="Bedside" data-device="Duckie"></div>
    </li>

    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Bedroom" data-view="Stdimmer" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Lounge" data-view="Stdimmer" data-title="Lounge" data-device="Lounge"></div>
    </li>

    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Dining" data-view="Stdimmer" data-title="Dining" data-device="Dining"></div>
    </li>

    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Kitchen" data-view="Stdimmer" data-title="Kitchen" data-device="Kitchen"></div>
    </li>

    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="Window" data-view="Stcontact" data-title="Window" data-device="Window"></div>
    </li>


    

    

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="uctemp" data-view="Sttemp" data-title="Upstairs" data-device="Office Door"></div>
    </li>
    
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="uctemp" data-view="Sttemp" data-title="Downstairs" data-device="Front Door"></div>
    </li>

    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="nest" data-view="Nest" data-title="Nest"></div>
    </li>
    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="Laundry" data-view="Sttemp" data-title="Laundry" data-device="Laundry"></div>
    </li>

    <!--li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="consolelamp" data-view="Stswitch" data-title="Console" data-device="Console Lamp"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dininglamp" data-view="Stswitch" data-title="Dining Floor" data-device="Dining Lamp"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="diningwalllamp" data-view="Stdimmer" data-title="Dining Wall" data-device="Dining Wall Lamp"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchenlight" data-view="Stswitch" data-title="Kitchen" data-device="Kitchen Switch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bedroomlight" data-view="Stswitch" data-title="Bedroom" data-device="Bedroom Switch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="officeswitch" data-view="Stswitch" data-title="Office" data-device="Office Switch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="exteriorswitch" data-view="Stswitch" data-title="Exterior" data-device="Front Porch Switch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="garageswitch" data-view="Stswitch" data-title="Garage" data-device="Garage Switch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bathroomswitch" data-view="Stswitch" data-title="Bathroom" data-device="Bathroom Switch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lrtemp" data-view="Sttemp" data-title="Living Room" data-device="Thermostat"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uctemp" data-view="Sttemp" data-title="Closet" data-device="Utility Closet"></div>
    </li>

    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchenmeter" data-view="Stmeter" data-title="Kitchen" data-device="Kitchen Switch" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="backdoorcontact" data-view="Stcontact" data-title="Backdoor" data-device="Back Door"></div>
    </li>

    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="MotionSensor" data-view="Stmotion" data-title="Living room" data-device="MotionSensor"></div>
    </li-->



    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

  </ul>
</div>